@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --accent-h: 265; /* Hue */
  --accent-s: 40%; /* Saturation */
  --accent-l: 70%; /* Lightness */
  
  --accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));

  --bg-accent: #0E162B;
  --accent-alpha: 0.12;
  --hover-accent: hsla(var(--accent-h), var(--accent-s), var(--accent-l), var(--accent-alpha));

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Remove ALL borders */
* {
  border: none !important;
}

/* Remove ALL outlines (including the blue Chrome focus ring) */
*:focus,
*:focus-visible,
*:focus-within {
  outline: none !important;
  box-shadow: none !important;
}

/* Remove default input highlight */
input,
button,
select,
textarea {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Remove outline for range slider */
input[type="range"]::-moz-focus-outer {
  border: 0 !important;
}


a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-accent);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


